/* globals */
html {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 50px auto 0px auto;
  max-width: 1200px;
}
/* links */
a {
  font-weight: bold;
  padding: 3px;
}
a:hover {
  background-color: #FFFB8F;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: black;
}
/* groups  */
.vertical-line {
  border: 1px solid lightgray;
}
.horizontal-line {
  margin-top: 50px;
  width: 45%;
  border: 1px solid lightgray;
}
.section-group {
  display: flex;
}
.section {
  width: 100%;
}
.section h2 {
  font-size: x-large;
  text-align: center;
}
@media (max-width:1000px){
  .vertical-line {
    border: 0px solid black;
  }
  .section-group {
    flex-direction: column;
  }
  .section h2 {
    text-align: left;
  }
}

/* header */
.title {
  text-align: center;
  font-size: xx-large;
}
.sub-title {
  text-align: center;
  font-size: medium;
}
.job-title{
  text-align: center;
  font-size: medium;
  margin: 25px 0px 50px 0px;
}
.chainsafe-logo {
  height: 20px;
  width: 20px;
  padding-left: 5px;
}

/* line group */
.line-group {
  display: flex;
}
.line-group .horizontal-line:nth-child(2) {
  margin-left: auto;
}
@media (max-width:1000px){
  .line-group {
    display: none;
  }
  .horizontal-line {
    border: 0px solid black;
  }
}

/* work */
#work {
  width: 100%;
  margin-top: 50px;
}
@media (max-width:1000px){
  #work {
    flex-direction: column;
    margin-top: 0px;
  }
}

/* other links */
.other-links {
  margin: 0px 20px 0px 20px;
}
.other-links h2 {
  font-size: small;
  margin-top: 50px;
}
.other-links-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.easter-egg {
  color: white;
}
.easter-egg:hover {
  color: #FFFB8F;
}